.logoAccount{
    width: 30px;
}

.card{
    width: 300px;
    max-height: 100%;
}
.card a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.card p{
    text-decoration: none;
}
.card .descCard{
    height: 100px;
    overflow:scroll;
}
::-webkit-scrollbar{
    display: none;
}
